@import "tailwindcss";


@layer utilities{
    .animate-marquee{
        animation:marqu 20s linear infinite;
    }
}

@keyframes marqu {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}